@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* White background */
  --foreground: #000000; /* Black text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Force white background even in dark mode */
    --foreground: #000000; /* Force black text even in dark mode */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
